certifi==2018.10.15
csscompressor==0.9.5
Django==2.1.3
django-appconf==1.0.2
django-cleanup==2.1.0
django-compressor==2.2
django-filebrowser==3.11.1
django-grappelli==2.12.1
markdown2==2.3.6
Pillow==5.3.0
pytz==2018.7
rcssmin==1.0.6
rjsmin==1.0.12
Unidecode==0.4.21
