{% extends '../__base_layout.html' %}

{% load md %}
{% load i18n %}

{% block content %}
<div class="jumbotron info">

  {% if contest_rules %}
    <div class="contest-rules">
      <h1 class="contest-rules-title">{% trans 'contest_rules' %}</h1>
      <hr class="my-3">
      <ul>
        {% for contest_rule in contest_rules %}
          <li style="margin-bottom:10px; color:var(--text-2);">
            {{ contest_rule.content|md|safe }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <hr class="my-3">
  {% endif %}

  {% if supported_languages %}
    <div class="supported-languages">
      <h2>{% trans 'supported_languages' %}</h2>
      <ul>
        {% for lang in supported_languages %}
          <li style="color:var(--text-2);">{{ lang.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <hr class="my-3">
  {% endif %}

  {% if faqs %}
    <div class="faq">
      <h2>{% trans 'faq' %}</h2>
      <ul>
        {% for faq in faqs %}
          <li>{{ faq.question }}
            <ul>
              <li type="circle" style="color:var(--text-2);">
                {{ faq.answer|md|safe }}
              </li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if not contest_rules and not faqs and not supported_languages %}
    <p style="color:var(--text-3); font-size:0.9rem;">
      {% trans 'no_content' %}
    </p>
  {% endif %}

</div>
{% endblock %}
