{% extends '../__base_layout.html' %}

{% load md %}

{% block carousel %}
  {% if carousel_items %}
    {% include '../partials/_carousel.html' %}
  {% endif %}
{% endblock %}

{% block content %}
  {% if announcements %}
    {% include '../partials/_announcements.html' %}
  {% endif %}

  {% if flat_pages %}
    {% for flat_page in flat_pages %}
      <div class="jumbotron info">
        <div class="lead">{{ flat_page.content|md|safe }}</div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}