{% extends '../__base_layout.html' %}

{% load md %}

{% block carousel %}
  {% if carousel_items %}
    {% include '../partials/_carousel.html' %}
  {% endif %}
{% endblock %}

{% block content %}
  {% if announcements %}
    {% include '../partials/_announcements.html' %}
  {% endif %}

  {% if about %}
    <div class="jumbotron info">
      <div class="lead">{{ about.content|md|safe }}</div>
    </div>
  {% endif %}

  {% if contact %}
    <div class="jumbotron info">
      <div class="lead">{{ contact.content|md|safe }}</div>
    </div>
  {% endif %}
{% endblock %}

{% block sponsors %}
  {% if main_site_sponsors_page %}
    <div class="sponsors d-flex justify-content-center">
      <div class="sponsors justify-content-center">
        <div class="container">
          {{ main_site_sponsors_page.content|md|safe }}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}