{% load static %}
{% load i18n %}
{% load md %}

<div class="jumbotron info announcements">
  <h1 class="announcements-title">{% trans 'announcements' %}</h1>

  {% for announcement in announcements %}
    <hr class="my-3">
    <div class="announcement">
      <span class="event-badge"><i class="fa fa-bullhorn"></i> Duyuru</span>
      <h2 class="mb-3">{{ announcement.title }}</h2>

      <div class="jumbotron-content row">
        {% if announcement.image is not None %}
          <div class="col-12 col-md-4 mb-3">
            <img src="{{ announcement.image.url }}" alt="{{ announcement.title }}" style="width:100%; border-radius:10px;">
          </div>
          <div class="col-12 col-md-8">
            <div>{{ announcement.content|md|safe }}</div>
          </div>
        {% else %}
          <div class="col-12">
            <div>{{ announcement.content|md|safe }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
