{% load static %}
{% load select_lang %}
{% load md %}

{% if main_carousel_items %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    {% for carousel_item in main_carousel_items|select_lang_all %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}">
      <img class="d-block w-100" src="{{ carousel_item.image.url }}">
      <div class="carousel-overlay"></div>

      <div class="carousel-caption">
        <h3 class="carousel-title">{{ carousel_item.title|md|safe }}</h3>
        <h5 class="carousel-subtitle">{{ carousel_item.subtitle|md|safe }}</h5>
      </div>
    </div>
    {% endfor %}

  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}