{% load hosts %}
{% load i18n %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex">
    <a class="navbar-brand" href="{% host_url 'home' host 'main_site' %}">
      <img src="{% static 'img/logosmall.png' %}" alt="CClub">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
          <a class="nav-link" href="{% host_url 'home' host 'main_site'%}">{% trans 'homepage' %}</a>
        </li>

        {% for menu_page in main_site_menu_pages_left.all %}
          <li class="nav-item">
            <a class="nav-link" href="/{{ menu_page.name }}">{{ menu_page.title }}</a>
          </li>
        {% endfor %}

        <li class="nav-item {% if request.resolver_match.url_name == 'announce' %} active {% endif %}">
          <a class="nav-link" href="{% host_url 'announce' host 'main_site' %}">{% trans 'announcements' %}</a>
        </li>

        <li class="nav-item {% if request.resolver_match.url_name == 'events' %} active {% endif %}">
          <a class="nav-link" href="{% host_url 'events' host 'main_site' %}">{% trans 'events' %}</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'useful_links' %} active {% endif %}">
          <a class="nav-link" href="{% host_url 'useful_links' host 'main_site' %}">{% trans 'useful_links' %}</a>
        </li>

        {% for menu_page in main_site_menu_pages_right.all %}
          <li class="nav-item">
            <a class="nav-link" href="/{{ menu_page.name }}">{{ menu_page.title }}</a>
          </li>
        {% endfor %}

        <li class="nav-item">
          <a class="change-lang-link nav-link" href="{% host_url 'toggle_lang' host 'main_site' %}?next={{ request.get_full_path }}">
            {% if lang == 'tr' %}
              <span class="active">TR</span> | <span>EN</span>
            {% else %}
              <span>TR</span> | <span class="active">EN</span>
            {% endif %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>