<div class="jumbotron info">
  <p class="h1">İletişim</p>
  <hr class="my-4">
  <p class="lead"></p>
  <ul id="links">
    <li>  <a href="mailto:cclub@metu.edu.tr"><i class="fa fa-envelope" aria-hidden="true"></i> cclub@metu.edu.tr</a></li>
    <li>  <a href="mailto:metucclub@gmail.com"><i class="fa fa-google" aria-hidden="true"></i> metucclub@gmail.com</a></li>
    <li>  <a href="https://twitter.com/metucclub"><i class="fa fa-twitter" aria-hidden="true"></i> metucclub</a></li>
    <li>  <a href="https://www.instagram.com/metucclub/"><i class="fa fa-instagram" aria-hidden="true"></i> metucclub</a></li>
    <li>  <a href="https://www.facebook.com/METUCCLUB/"><i class="fa fa-facebook" aria-hidden="true"></i> metucclub</a></li>
    <li>  <a href="https://www.youtube.com/channel/UCjwcNHNlBhAhNSs5vlsEDCg"><i class="fa fa-youtube-play" aria-hidden="true"></i> ODTÜ Bilgisayar Topluluğu</a></li>
    <li>  <a href="https://www.linkedin.com/company/9450816/"><i class="fa fa-linkedin" aria-hidden="true"></i> ODTÜ Bilgisayar Topluluğu</a></li>
  </ul>
</div>
