<div class="jumbotron info">
  <h1>İletişim</h1>

  <hr class="my-4">

  <ul id="contact-links">
    <li>
      <a href="mailto:cclub@metu.edu.tr"><i class="fa fa-envelope"></i> cclub@metu.edu.tr</a>
    </li>
    <li>
      <a href="mailto:metucclub@gmail.com"><i class="fa fa-google"></i> metucclub@gmail.com</a>
    </li>
    <li>
      <a href="https://twitter.com/metucclub"><i class="fa fa-twitter"></i> metucclub</a>
    </li>
    <li>
      <a href="https://www.instagram.com/metucclub/"><i class="fa fa-instagram"></i> metucclub</a>
    </li>
    <li>
      <a href="https://www.facebook.com/METUCCLUB/"><i class="fa fa-facebook"></i> metucclub</a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCjwcNHNlBhAhNSs5vlsEDCg"><i class="fa fa-youtube-play"></i>
        ODTÜ Bilgisayar Topluluğu</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/9450816/"><i class="fa fa-linkedin"></i> ODTÜ
        Bilgisayar Topluluğu</a>
    </li>
  </ul>
</div>